<!--試し-->
<head>
    <title>Bookers2Ver2</title>
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="Vg74fJxvYifPLPttBIkBHkmF3e7cxWyiZsGu4VddGRhAV6xCQJy3pDIcykNjB8otP1fLUmxIeLJujAlK59k6Jw">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <span>Bookers
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
</header>
</body>



<!--追加-->
<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book" aria-hidden="true"></i><strong>Bookers</strong>!
    </h1>
  </div>
</div>